body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
  }

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* About Section Styles */
#about {
    margin: 50px;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#about .image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#about .image-container img {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  footer p {
    margin: 0;
    font-size: 16px;
  }